<html>
	<head>
		<link rel="stylesheet" href="css/styles.css">
	</head>
	<body>
		<div class="header">
			<h1>If crabs think fish can fly, then, do you suppose we're just crabs?</h1>
		</div>
		</div>
		<div class="imgs">
		 
		</div>
		<div class="imgt">
		 
		</div>
		<center><div class="imgc">
		</div></center>
		<div class="input">
			<%= yield %>
		</div>
	</body>
	<footer>
		<div>
			<a href="/">Restart</a>
		<div>
			<a href="http://www.minedminds.org/">http://www.minedminds.org</a>
		</div>
	</footer>
</html>