<%= name %>, what are your three favorite numbers?
<form method="post" action="numbers?user_name=<%= name %>&amp;user_age=<%= age %>&amp;user_location=<%= location %>">
	<input type="text" name="numbers">
	<input type="submit">
</form>